@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

body {
  font-family: 'Solway', serif;
  margin: 0;
  padding: 0;
  background-image: url('./shopping.jpg');
}

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

